:root {
  --main-color: #ff6f00;
  --secondary-color: #644f9c;
  --body-color: #f2f2f2;
  --logo: #404040;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  font-family: "PT Sans", "Prototype", "PT Sans Pro" sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--body-color);
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* global */
.container {
  width: 100%;
  margin: auto;
  padding: auto;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.login {
  background-color: #ffffff;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 25px;
  box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
}

.login:hover {
  color: #000000;
}

.btn {
  height: 30px;
  background: #e8491d;
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  cursor: pointer;
}
.lang {
  color: #36ca36;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*header*/
header {
  background: var(--body-color);
  padding-top: 30px;
  min-height: 70px;
  border: none;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}
header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
  color: #000000;
}
header #branding h1 {
  margin: 0;
  padding: 10px;
}
header nav {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
header .current a {
  color: var(--main-color);
  font-weight: bold;
}
header a:hover {
  color: var(--main-color);
  font-weight: bold;
}

/* banner */
.banner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.upper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 20px;
}
.title {
  color: var(--secondary-color);
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.para {
  color: #000000;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.showcase {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 20px;
}

.bannerimg {
  width: 500px;
  height: 350px;
  border: 1px #ffffff solid;
  background: #cccccc;
}

/*boxes*/

.display {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 70px;
}

.display .upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 600px;
}
.display .upper .title {
  font-size: 24px;
}

.display .para {
  text-align: center;
  padding: 0;
  margin: 0;
}
.dash {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
hr {
  border: none;
  border-top: 1px dotted #000000;
  height: 1px;
  width: 50%;
}
.box {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.boxes {
  float: left;
  background: #ffffff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxes img {
  width: 90px;
}

.boxall {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-btn {
  height: 50px;
  width: 250px;
  background: var(--secondary-color);
  border: none;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 10;
  cursor: pointer;
}

.ad {
  background: var(--body-color);
  color: #000000;
  box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
}

.ad-current {
  background: var(--main-color);
  color: var(--body-color);
  font-weight: bold;
  box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
}

/* ad-banner */

.simple-banner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.simple-banner .title {
  color: var(--main-color);
  padding-top: 10px;
  margin: 0px;
  font-weight: 100;
}

.simple-banner .para {
  padding: 0px;
  margin: 0px;
  font-weight: 200;
  font-size: 24px;
}

.learn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  margin-bottom: 20px;
}
.share {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/* performance */
.performance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #644f9c;
  width: 100%;
  margin-top: 20px;
}

.heading {
  color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: normal;
}

.circle {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.circlebox-1,
.circlebox-2,
.circlebox-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circlebox-1 {
  background: #644f9c;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px #ffffff dashed;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.circlebox-1 h1 {
  font-size: 48px;
  margin: 10px;
  letter-spacing: 5px;
}

.circlebox-1 h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 10px;
}

.circlebox-2 {
  background: #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: var(--secondary-color);
  padding: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.circlebox-2 h1 {
  font-size: 48px;
  margin: 10px;
  letter-spacing: 5px;
}

.circlebox-2 h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 10px;
}

.circlebox-3 {
  background: #ed6a49;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  color: #ffffff;
  padding: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.circlebox-3 h1 {
  font-size: 48px;
  margin: 10px;
  letter-spacing: 5px;
}

.circlebox-3 h3 {
  font-size: 28px;
  font-weight: normal;
  margin: 10px;
}

.performance-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  background: #f8f8f8;
  width: 100%;
  margin-top: 20px;
}

.performance-2 .heading {
  color: #664f9c;
}
.square {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
}

.slideimg {
  background: #d9d9d9;
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.squarebox-1,
.squarebox-2 {
  background: #ffffff;
  width: 600px;
  height: 200px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px red dashed;
  color: var(--secondary-color);
  padding: 20px;
  margin-bottom: 50px;
  margin-right: 50px;
  box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 8px 8px 15px -7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  outline: 15px solid #ffffff;
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.squareimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 8px 8px 15px -7px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -1px 8px 6px -7px rgba(0, 0, 0, 0.58);
  margin-right: 30px;
  margin-left: 30px;
}
.squareimg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #ffffff;
  color: #000000;
}

.footer li {
  list-style: none;
  margin-bottom: 10px;
}

.footeritem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
